
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <h3>Thank you</h3>
</div>



<div class="about_area">
    <div class="container">
        <div class="row align-items-center">

            <h1 align="center">Thank you for your Order! <br />
            

            Your order number is  <span style="color:orangered; font-weight:bold"> @ViewBag.NewOrderID</span>. </h1>
            

            </div>
        </div>
    </div>

