
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2 overlay">
    <h3>Your Cart</h3>
</div>

<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            Your Crat is Empty.
            </div>
        </div>
    </div>

