<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget text-center ">
                        <h3 class="footer_title pos_margin">
                            We are Located here!
                        </h3>
                        <p>
                            39 A Green Lane Road,  <br>
                            Leicester LE5 3TN <br>
                            <a href="mailto:info@damaojetty.co.uk">info@damaojetty.co.uk</a>
                        </p>
                        <a class="number" href="tel:07424294779">+44 7424294779</a>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget text-center ">
                        <h3 class="footer_title pos_margin">
                            We are social
                        </h3>
                        <div class="socail_links text-center">
                            <ul>
                                <li>
                                    <a href="https://instagram.com/damao_jetty?igshid=1ii3il645la4e">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>                                
                                <li>
                                    <a href="https://www.facebook.com/D%C3%A3mao-Jetty-103250388064058/">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>                               
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Food Hygiene Rating
                        </h3>
                        <img src="~/Content/img/home footer pics/FoodHygiene.png" alt="">
                    </div>
                </div>
            </div>
       
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;
                        @DateTime.Now.Year All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

