    <!-- testimonial_area_start  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60 text-center">
                    <span>Testimonials</span>
                    <h3>Happy Customers</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        “This is the original and authentic Indian takeaway, it truly brings back the taste of Daman's local fastfood, especially the Jetty Roll..
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/Content/img/testmonial/Customer1.png" alt="">
                                        </div>
                                        <h4>Kushang Pancas</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        “Best takeway! I highly recommend to try indo-chinese from here.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/Content/img/testmonial/Customer3.png" alt="">
                                        </div>
                                        <h4>Nicolas Wan</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        “Cant wait to have Chinese Manchurian and Grilled Sandwich again and again :) Best ever in whole city :)

                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/Content/img/testmonial/Customer2.png" alt="">
                                        </div>
                                        <h4>Harsh Nanudra</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_ned  -->
