
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <h3>Menu</h3>
</div>
<!-- bradcam_area_end -->
<!-- best_burgers_area_start  -->
<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                   <h3>Morning Menu</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/Menu/Vada Pav.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Vada Pav</h3>
                        <p>AKA the Indian burger. In our version, we give you vada (a spicy potato fritter) and pav (soft bread roll) and chutney separately so that you can customise the ratio to your liking..</p>
                        <span>£1</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/Menu/Puri Saak.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Puri Saak</h3>
                        <p>Puri saak popular dish from Daman. A spicy potato mash tempered with Indian spices and served with Puri (a deep-fat fried bread made from whole-wheat flour) and garnished with onions and a squeeze of lime.</p>
                        <span>£2</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/Menu/Bombay Grill Sandwich.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Bombay Grilled Sandwich</h3>
                        <p>Bombay grilled Sandwich is a 2 layer sandwich Soft white bread topped with a vibrant herb chutney, masala spices and topped with onion and peppers in first layer and spicy mix veg mash in second layer. The sandwich is then toasted until golden brown, concealing an oozing molten cheese centre.</p>
                        <span>£3</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/Menu/Bread Cutles.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Bread Cutles</h3>
                        <p>Bread cutles is a spiced mix vegetable sandwich that is fried in chickpea flour batter.</p>
                        <span>£1</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/Menu/Samosa.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Samosa</h3>
                        <p>Samosa is a small triangular pastry filled with spiced peas and potato and fried in oil.</p>
                        <span>£1</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/Menu/Usal Pav.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Ussal Pav</h3>
                        <p>Usal pav a popular dish from Maharashtra. Usal is a spicy curry usually made from moth beans (white peas) and potato, served with pav and garnished with onions and a squeeze of lime</p>
                        <span>£2</span>
                    </div>
                </div>
            </div>          
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/burger/7.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Smokin Burger</h3>
                        <p>Great way to make your business appear trust and relevant.</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/burger/8.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Delish Burger</h3>
                        <p>Great way to make your business appear trust and relevant.</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/burger/4.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Crackles Burger</h3>
                        <p>Great way to make your business appear trust and relevant.</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="~/Content/img/burger/5.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Bull Burgers</h3>
                        <p>Great way to make your business appear trust and relevant.</p>
                        <span>$5</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- best_burgers_area_end  -->
<!-- features_room_startt -->
<div class="Burger_President_area">
    <div class="Burger_President_here">
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="~/Content/img/burgers/1.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>$20</span>
                        <h3>The Burger President</h3>
                        <p>Great way to make your business appear trust <br> and relevant.</p>
                        <a href="#" class="boxed-btn3">Order Now</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="~/Content/img/burgers/2.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>$20</span>
                        <h3>The Burger President</h3>
                        <p>Great way to make your business appear trust <br> and relevant.</p>
                        <a href="#" class="boxed-btn3">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_end -->
