
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1 overlay">
    <h3>about</h3>
</div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                        <img src="~/Content/img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="~/Content/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About Us</span>
                    </div>
                    <p>
                        Damao Jetty is a family owned takeaway based in Leicester serving the nostalgic taste of street food from Daman, India.
                        We specialise in Indochinese dishes street food items that are most famous in the region of Daman.
                        Our menu is designed differently to other takeaways, in morning we serve the traditional breakfast of Daman. To name some it consists of the famous Vada Pav the Indian burger and samosas. In evening, the focus is changed to Indochinese food and Jetty Rolls (Indian Frankie). Our menu is small as we only serve our customers the best dishes we have, recipes that are developed to perfection over the years.
                    </p>

                    <div>
                        <h3>
                            How did we start
                        </h3>
                    </div>

                    <p>
                        Since we settled in Leicester in 2011, We tried a variety of Indian takeaways and restaurants and realised we could not get the taste that we grew up with. Our friends and people from my community felt the same.
                        In 2016, we wanted to give community the nostalgic taste. To do just that, we opened a canteen at our community hall for the festival of Navratri. We were overwhelmed by the great response and good reviews about our food.
                        In February 2018, we grabbed the opportunity to open our own store front and Damao Jetty was established. Our sole aim is to give our local customer the freshest food with great taste that they are missing from back home at an affordable price so everyone can enjoy the food we have to offer.

                    </p>

                    <div>
                        <h3>
                            Story behind our Name & Logo
                        </h3>
                    </div>

                    <p>
                        The name Damao Jetty translate to Damao (Portuguese name for Daman) and Jetty refers to the pace in daman where all the street vendors are clustered.
                        Our logo represents our roots and the major landmarks around the Jetty in Daman.

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
